<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                xmlns:cc="http://java.sun.com/jsf/composite/cc"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">Personas</ui:define>

    <ui:define name="content">
    
    	<f:metadata>
    		<f:viewAction action="#{listarPersonasBean.onLoad}" />
		</f:metadata>

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-12">
            	<h:form id="formPersonas">
            	
	                <p:outputPanel id="personasPanel" styleClass="card">
	                    <h1>Gestionar Personas</h1>
	                    
	                    <div class="botonera">
	                    	<p:commandButton id="nuevoBtn" icon="pi pi-plus" type="button" title="Nueva Persona" value="Nueva Persona" />
	                    </div>
	                    
	                   <cc:buscadorPersonas comp="#{listarPersonasBean.buscadorComp}"  /> 
	                   
	                </p:outputPanel>
	                          
                </h:form>
            </div>
        </div>

    </ui:define>
</ui:composition>
