<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">Persona #{personaBean.idPersona}</ui:define>

    <ui:define name="content">
    
    	<f:metadata>
    		<f:viewAction action="#{personaBean.onLoad}" />
		</f:metadata>
		
		<t:saveState value="#{personaBean.idPersona}" />
		<t:saveState value="#{personaBean.persona}" />
		<t:saveState value="#{personaBean.idRegion}" />
		<t:saveState value="#{personaBean.idProvincia}" />
		<t:saveState value="#{personaBean.idComuna}" />
		<t:saveState value="#{personaBean.regionesSelectItems}" />
		<t:saveState value="#{personaBean.provinciasSelectItems}" />
		<t:saveState value="#{personaBean.comunasSelectItems}" />

        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
            	<h:form id="personaForm">
            	
	                <p:outputPanel id="personaPanel" styleClass="card card-w-title">
	                
	                    <h1>Persona</h1>
	                    
	                    <p:panelGrid columns="3" layout="grid" styleClass="sin-bordes">

	                    	<h:panelGroup>
	                    		<p:outputLabel id="RunLbl" for="run" value="Run" />
	                    		<p:inputText id="run" value="#{personaBean.persona.run}" converter="#{rutConverter}" />
	                    		<p:message id="runMsg" for="run" display="text"/>
	                    	</h:panelGroup>
	                    	
	                    	<h:panelGroup>
	                    		<p:outputLabel id="nombresLbl" for="nombres" value="Nombres" />
	                    		<p:inputText id="nombres" value="#{personaBean.persona.nombres}" />
	                    		<p:message id="nombresMsg" for="nombres" display="text"/>
	                    	</h:panelGroup>
	                    	
	                    	<h:panelGroup>
	                    		<p:outputLabel id="paternoLbl" for="paterno" value="Apellido Paterno" />
	                    		<p:inputText id="paterno" value="#{personaBean.persona.apellidoPaterno}" />
	                    		<p:message id="paternoMsg" for="paterno" display="text"/>
	                    	</h:panelGroup>
	                    	
	                    	<h:panelGroup>
	                    		<p:outputLabel id="maternoLbl" for="materno" value="Apellido Materno" />
	                    		<p:inputText id="materno" value="#{personaBean.persona.apellidoMaterno}" />
	                    		<p:message id="maternoMsg" for="materno" display="text"/>
	                    	</h:panelGroup>
	                    	
	                    	<h:panelGroup>
	                    		<p:outputLabel id="fnacLbl" for="fnac" value="Fecha Nacimiento" />
	                    		<p:calendar id="fnac" value="#{personaBean.persona.fechaNacimiento}"
	                    			yearRange="c-100:c-18"
	                    			pattern="dd/MM/yyyy" showOn="button" navigator="true" locale="es" />
	                    		<p:message id="fnacMsg" for="fnac" display="text"/>
	                    	</h:panelGroup>
	                    	
	                    	<h:panelGroup>
	                    		<p:outputLabel id="fonoLbl" for="fono" value="Teléfono" />
	                    		<pe:inputPhone id="fono" value="#{personaBean.persona.telefono}" initialCountry="cl" />
	                    		<p:message id="fonoMsg" for="fono" display="text"/>
	                    	</h:panelGroup>
	                    	
	                    	<h:panelGroup id="regionGroup">
	                    		<p:outputLabel id="regionLbl" for="region" value="Región" />
	                    		<p:selectOneMenu id="region" value="#{personaBean.idRegion}" required="true" >
	                    			<f:selectItem itemLabel=" " />
	                    			<f:selectItems value="#{personaBean.regionesSelectItems}" />
	                    			<p:ajax event="change" process="@this" 
	                    				update="regionGroup provinciaGroup comunaGroup"
	                    				listener="#{personaBean.cambiarRegionListener}" />	
	                    		</p:selectOneMenu>
	                    		<p:message id="regionMsg" for="region" display="text"/>
	                    	</h:panelGroup>
	                    	
	                    	<h:panelGroup id="provinciaGroup">
	                    		<p:outputLabel id="provinciaLbl" for="provincia" value="Provincia" />
	                    		<p:selectOneMenu id="provincia" value="#{personaBean.idProvincia}" required="true" >
	                    			<f:selectItem itemLabel=" " />
	                    			<f:selectItems value="#{personaBean.provinciasSelectItems}" />
	                    			<p:ajax event="change" process="@this" 
	                    				update="provinciaGroup comunaGroup"
	                    				listener="#{personaBean.cambiarProvinciaListener}" />	
	                    		</p:selectOneMenu>
	                    		<p:message id="provinciaMsg" for="provincia" display="text"/>
	                    	</h:panelGroup>
	                    	
	                    	<h:panelGroup id="comunaGroup">
	                    		<p:outputLabel id="comunaLbl" for="comuna" value="Comuna" />
	                    		<p:selectOneMenu id="comuna" value="#{personaBean.idComuna}" required="true">
	                    			<f:selectItem itemLabel=" " />
	                    			<f:selectItems value="#{personaBean.comunasSelectItems}" />
	                    		</p:selectOneMenu>
	                    		<p:message id="comunaMsg" for="comuna" display="text"/>
	                    	</h:panelGroup>
	                    
	                    </p:panelGrid>

						<h:inputHidden value="#{personaBean.persona.idPersona}" />
	                    
	                    <div class="botonera">
	                    	<p:commandButton id="saveBtn" process="personaPanel" update="personaPanel" value="Guardar"
	                    		actionListener="#{personaBean.guardar}" >
	                    		<p:confirm header="Confirmación" message="¿Está seguro que desea guardar al usuario?" icon="pi pi-exclamation-triangle" />
	                    	</p:commandButton>
	                    	<p:commandButton id="cancelBtn" ajax="false" immediate="true" styleClass="secondary-btn" value="Cancelar" />
	                    </div>
	                    
	                </p:outputPanel>
                </h:form>
            </div>
        </div>

    </ui:define>
</ui:composition>
