<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

	<h:panelGroup>
		<p:calendar id="inputCalendar" 
			value="#{filtro.valor}" 
			navigator="#{filtro.opciones.navegadorActivado}"
			yearRange="#{filtro.opciones.yearRange}"
			pattern="#{filtro.opciones.pattern}"
			locale="#{filtro.opciones.lang}"
			readonlyInput="true"
			disabled="#{filtro.estado != 'CONFIGURACION'}"
			showOn="button" />
		<p:message for="inputCalendar" display="text"/>    
    </h:panelGroup>
    
</ui:composition>
