<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

	<h:panelGroup>
		<p:selectOneMenu id="filtroOneMenu" value="#{filtro.valor}" disabled="#{filtro.estado != 'CONFIGURACION'}" converter="#{jsonConverter}"  >
			<f:selectItem itemLabel=" " />
			<f:selectItems value="#{filtro.selectsItems}" />
		</p:selectOneMenu>
		<p:message for="filtroOneMenu" display="text"/>    
    </h:panelGroup>
    
</ui:composition>
