<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

	<p:outputLabel for="filtroReg" value="Regiones:" />

	<h:panelGroup>
		<p:selectOneMenu id="filtroReg" value="#{filtro.data.regionId}" disabled="#{filtro.estado != 'CONFIGURACION'}" converter="#{jsonConverter}"  autoWidth="false" >
			<f:selectItem itemLabel="TODAS" />
			<f:selectItems value="#{filtro.regiones}" />
			<p:ajax update="filtroPro filtroCom" listener="#{filtro.cambioDeRegionListener}"/>
		</p:selectOneMenu>
		<p:message id="filtroRegMsg" for="filtroReg" display="text"/>    
    </h:panelGroup>
    
    <p:outputLabel for="filtroPro" value="Provincias: " />
    
    <h:panelGroup>
		<p:selectOneMenu id="filtroPro" value="#{filtro.data.provinciaId}" disabled="#{filtro.estado != 'CONFIGURACION'}" converter="#{jsonConverter}" autoWidth="false" >
			<f:selectItem itemLabel="TODAS" />
			<f:selectItems value="#{filtro.provincias}" />
			<p:ajax update="filtroCom" listener="#{filtro.cambioDeProvinciaListener}"/>
		</p:selectOneMenu>
		<p:message id="filtroProMsg" for="filtroPro" display="text"/>    
    </h:panelGroup>
    
    <p:outputLabel for="filtroCom" value="Comunas: " />
    
    <h:panelGroup>
		<p:selectOneMenu id="filtroCom" value="#{filtro.data.comunaId}" disabled="#{filtro.estado != 'CONFIGURACION'}" converter="#{jsonConverter}" autoWidth="false" >
			<f:selectItem itemLabel="TODAS" />
			<f:selectItems value="#{filtro.comunas}" />
		</p:selectOneMenu>
		<p:message id="filtroComMsg" for="filtroCom" display="text"/>    
    </h:panelGroup>
    
</ui:composition>
