<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">

    <div class="sidebar">
        <h:form id="sidemenu-form">
            <div class="nano">
                <div class="nano-content sidebar-scroll-content">

                    <ui:fragment rendered="#{not identidad.loggedIn}">
                        <div class="profile">
                            <a href="#{request.contextPath}/login.xhtml">
                                <span>Iniciar Sesión</span>
                                <em class="fa fa-fw fa-sign-in"></em>
                            </a>
                        </div>
                    </ui:fragment>

                    <ui:fragment rendered="#{identidad.loggedIn}">
                        <div class="profile">
                            <p:graphicImage name="images/profile.png" library="omega-layout"/>
                            <a id="profile-button" href="#">
                                <span class="username">#{identidad.nombrePersona}</span>
                                <em class="fa fa-fw fa-cog"></em>
                            </a>
                            <ul>
                                <li><a href="#"><em class="fa fa-fw fa-sliders"></em><span>Cuenta</span></a></li>
                                <li><a href="#"><em class="fa fa-fw fa-bell"></em><span>Notificaciones</span><span
                                        class="menu-badge">2</span></a></li>
                                <li>
                                    <a href="#{request.contextPath}/logout">
                                        <em class="fa fa-fw fa-sign-out"></em><span>Cerrar Sesión</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </ui:fragment>

                    <div class="menu">
                        <p:menubar>
                            <p:menuitem id="om_inicio" value="Inicio" icon="fa fa-home" url="/inicio.xhtml"/>
                            <p:menuitem id="om_gestionar_usuarios" value="Gestionar Usuarios" icon="fa fa-users"
                                        url="/ui/gestionar_usuarios"/>
                            <p:submenu id="om_components" label="Componentes" icon="fa fa-sitemap">
                                <p:menuitem id="om_dashboard" value="Dashboard" icon="fa fa-columns"
                                            url="/dashboard.xhtml"/>
                                <p:menuitem id="om_showcase_omega" value="Showcase Omega" icon="fa fa-code"
                                            url="/showcase_omega.xhtml"/>
                                <p:menuitem id="om_showcase_zeke" value="Showcase Zeke" icon="fa fa-code"
                                            url="/showcase_zeke.xhtml"/>
                            </p:submenu>
                            <p:submenu id="om_default" label="Template Pages" icon="fa fa-life-saver">
                                <p:menuitem id="om_empty" value="Empty Page" icon="fa fa-square-o" url="/empty.xhtml"/>
                                <p:menuitem id="om_login" value="Login Page" icon="fa fa-sign-in" url="/login.xhtml"/>
                                <p:menuitem id="om_error" value="Error Page" icon="fa fa-exclamation-circle"
                                            url="/error.xhtml"/>
                                <p:menuitem id="om_404" value="404 Page" icon="fa fa-times" url="/404.xhtml"/>
                                <p:menuitem id="om_access" value="Access Denied Page" icon="fa fa-exclamation-triangle"
                                            url="/access.xhtml"/>
                            </p:submenu>
                            <p:submenu id="om_hierarchy" label="Menu Hierarchy" icon="fa fa-gg">
                                <p:submenu id="om_sm1" label="Submenu 1" icon="fa fa-sign-in">
                                    <p:submenu id="om_sm11" label="Submenu 1.1" icon="fa fa-sign-in">
                                        <p:menuitem id="om_lnk111" value="Link 1.1.1" icon="fa fa-sign-in" url="#"/>
                                        <p:menuitem id="om_lnk112" value="Link 1.1.2" icon="fa fa-sign-in" url="#"/>
                                        <p:menuitem id="om_lnk113" value="Link 1.1.3" icon="fa fa-sign-in" url="#"/>
                                    </p:submenu>
                                    <p:submenu id="om_sm12" label="Submenu 1.2" icon="fa fa-sign-in">
                                        <p:menuitem id="om_lnk121" value="Link 1.2.1" icon="fa fa-sign-in" url="#"/>
                                    </p:submenu>
                                </p:submenu>
                                <p:submenu id="om_sm2" label="Submenu 2" icon="fa fa-sign-in">
                                    <p:submenu id="om_sm21" label="Submenu 2.1" icon="fa fa-sign-in">
                                        <p:menuitem id="om_lnk211" value="Link 2.1.1" icon="fa fa-sign-in" url="#"/>
                                        <p:menuitem id="om_lnk212" value="Link 2.1.2" icon="fa fa-sign-in" url="#"/>
                                    </p:submenu>
                                    <p:submenu id="om_sm22" label="Submenu 2.2" icon="fa fa-sign-in">
                                        <p:menuitem id="om_lnk221" value="Link 2.2.1" icon="fa fa-sign-in" url="#"/>
                                    </p:submenu>
                                </p:submenu>
                            </p:submenu>

                            <p:menuitem id="om_doc" value="Documentation" icon="fa fa-book"/>
                        </p:menubar>
                    </div>
                </div>
            </div>
        </h:form>
    </div>

</ui:composition>