<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:comp="http://xmlns.jcp.org/jsf/composite"
	xmlns:cc="http://java.sun.com/jsf/composite/cc"
	xmlns:p="http://primefaces.org/ui">

	<comp:interface>
		<comp:attribute name="comp" required="true"
			type="com.gitlab.archetypeslabs.springjsf.cc.personas.BuscadorPersonasComponent" />
	</comp:interface>

	<comp:implementation>

		<p:outputPanel id="buscadorPersonasPanel">
			<p:dataTable id="tablaPersonas"
				value="#{cc.attrs.comp.personaLazyDataModel}" var="per" lazy="true"
				rows="5" paginator="true" paginatorPosition="bottom"
				paginatorAlwaysVisible="true"
				paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}"
				emptyMessage="No se encontraron personas.">

				<f:facet name="header">
					<span class="titulo">Personas</span>
					<span class="botonera"> 
						<p:commandButton id="imageBtn"
							icon="pi pi-filter" type="button" title="Filtros"
							onclick="PF('filtrosPersona').show()" /> 
					</span>
				</f:facet>

				<p:column headerText="RUT">
					<h:outputText value="#{per.run}" converter="#{rutConverter}" />
				</p:column>

				<p:column headerText="Nombres">
					<h:outputText value="#{per.nombres}" />
				</p:column>

				<p:column headerText="Apellido Paterno">
					<h:outputText value="#{per.apellidoPaterno}" />
				</p:column>

				<p:column headerText="Apellido Materno">
					<h:outputText value="#{per.apellidoMaterno}" />
				</p:column>

				<p:column headerText="Teléfono">
					<h:outputText value="#{per.telefono}" />
				</p:column>

				<p:column headerText="Acciones">

				</p:column>

			</p:dataTable>

		</p:outputPanel>

		<cc:filtros id="filtros" comp="#{cc.attrs.comp.filtrosComp}"
			widgetVar="filtrosPersona"
			updateOnApply="@this :#{p:resolveFirstComponentWithId('buscadorPersonasPanel', view).clientId}" />

	</comp:implementation>

</ui:composition>
