<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:comp="http://xmlns.jcp.org/jsf/composite"
	xmlns:p="http://primefaces.org/ui">

	<comp:interface>
		<comp:attribute name="comp" required="true" 
			type="com.gitlab.archetypeslabs.springjsf.cc.filtros.AbstractFiltros" />
		<comp:attribute name="updateOnApply" required="true"
			type="java.lang.String" />
		<comp:attribute name="widgetVar" required="true"
			type="java.lang.String" />
	</comp:interface>

	<comp:implementation>

		<p:sidebar widgetVar="#{cc.attrs.widgetVar}" position="right" >
		
				<p:outputPanel id="#{cc.id}-filtrosWrapper" styleClass="filtros-popup" >
				
				<p:fieldset legend="Filtros">
					
					<p:panelGrid columns="1" layout="grid" styleClass="sin-bordes" rendered="#{not empty cc.attrs.comp.filtrosDiponibles}">
						<h:panelGroup>
							<p:selectOneMenu id="#{cc.id}-selectFiltros" value="#{cc.attrs.comp.filtroDisponible}"
								converter="#{jsonConverter}" autoWidth="false" >
								<p:ajax update="#{cc.id}-filtrosWrapper" listener="#{cc.attrs.comp.seleccionarFiltroAction}"/>
								<f:selectItem itemLabel="-- Agregar Filtro --" />
								<f:selectItems value="#{cc.attrs.comp.filtrosDiponibles}"
									var="filtro" itemLabel="#{filtro.etiqueta}" itemValue="#{filtro}" />
							</p:selectOneMenu>
							<p:message for="#{cc.id}-filtrosWrapper" display="text" />
						</h:panelGroup>
						
					</p:panelGrid>
					
					<c:forEach var="filtro" varStatus="status" items="#{cc.attrs.comp.filtrosVisibles}">
						<p:outputPanel id="#{cc.id}-#{status.index}-unFiltroPanel" 
							style="display: grid; margin-bottom: 11px;">
							<div class="row">
								<div class="col">
									<span><h:outputText value="#{filtro.etiqueta}" /></span>
								</div>
							</div>					
							<ui:include src="#{filtro.vistaXhtml}">
								<ui:param name="filtro" value="#{filtro}"></ui:param>
							</ui:include>
							<div class="botonera">
								
								<p:commandButton id="#{cc.id}-#{status.index}-quitarBtn" 
									process="@this" 
									update="#{cc.id}-filtrosWrapper #{cc.attrs.updateOnApply}"  
									icon="pi pi-trash"
									actionListener="#{cc.attrs.comp.quitar(filtro)}"/>
								
								<p:commandButton id="#{cc.id}-#{status.index}-configBtn" 
									process="@this" 
									update="#{cc.id}-filtrosWrapper"  
									icon="pi pi-cog"
									rendered="#{filtro.estado != 'CONFIGURACION'}"
									actionListener="#{cc.attrs.comp.configurar(filtro)}"/>
								
								<p:commandButton id="#{cc.id}-#{status.index}-aplicarFiltroBtn" 
									process="#{cc.id}-#{status.index}-unFiltroPanel"
									update="#{cc.id}-#{status.index}-unFiltroPanel #{cc.attrs.updateOnApply}"
									icon="pi pi-check"
									rendered="#{filtro.estado == 'CONFIGURACION'}"
									actionListener="#{cc.attrs.comp.aplicar(filtro)}" />
							</div>
						</p:outputPanel>
					</c:forEach>
				</p:fieldset>
			</p:outputPanel>
		</p:sidebar>
		
		
	</comp:implementation>

</ui:composition>
