/* ESTILOS TEMPLATE */

div.app-main {
	z-index: auto;
}

.fixed-header .app-header {
	z-index: 9
}

.app-sidebar.sidebar-text-light .vertical-nav-menu li a em.metismenu-icon
	{
	opacity: .5;
}

.vertical-nav-menu em.metismenu-state-icon, .vertical-nav-menu em.metismenu-icon
	{
	text-align: center;
	width: 34px;
	height: 34px;
	line-height: 34px;
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -17px;
	font-size: 1.5rem;
	opacity: .3;
	transition: color 300ms;
}

.card {
	padding: 7px 20px 22px 20px;
	text-align: justify;
	margin-bottom: 24px;
}

.card h1:first-child {
	margin-top: 0px;
}

.card h1 {
	font-size: 20px;
	font-weight: 400;
	margin: 24px 0;
}

/* BOTONERA */
div.botonera button.ui-button {
	display: inline;
	width: auto;
	min-width: 30px;
	text-align: center;
	float: right;
	margin-right: 14px;
}

body .ui-button.secondary-btn {
    background-color: #a6a6a6;
    border-color: #a6a6a6;
}

/*PRIMEFACES */

/* panelGrid */
.ui-panelgrid {
	margin-bottom: 10px;
}

.ui-panelgrid.sin-bordes .ui-panelgrid-content {
	border: none;
}


/* dialog */

div.ui-dialog.ui-widget div.ui-dialog-footer.ui-widget-content {
	padding-top: 18px;
    height: 62px;
}

/* calendar */

body .ui-fluid .ui-trigger-calendar .ui-datepicker-trigger.ui-button {
	height: 100%;
}

/* PRIME EXTENSIONS */

.ui-inputphone {
	display: block;
}

