<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:outputPanel id="crsfPanel" autoUpdate="true">
        <input id="csrf-hidden-token" type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <input id="csrf-hidden-header" type="hidden" name="_csrf_header" value="${_csrf.headerName}" />
    </p:outputPanel>

</ui:composition>