<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <!-- se refrescan en cada ajax -->
    <p:outputPanel id="panelValidacionesJS" autoUpdate="true">
        <script type="text/javascript">
            $(function () {
                $(".validaRut").Rut({
                    format_on: 'keyup'
                });
            });
        </script>
    </p:outputPanel>
</ui:composition>