<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">



	<p:ajaxExceptionHandler type="com.gitlab.archetypeslabs.springjsf.exceptions.LogicaNegocioException" update="errorLogicaDialog" onexception="PF('errorLogicaDialog').show();" />
	<p:ajaxExceptionHandler type="java.lang.RuntimeException" update="errorInternoDialogWrapper" onexception="PF('errorInternoDialog').show();" />
	
	<p:dialog id="errorLogicaDialog" header="Error De Validación" 
		width="300" height="200"
		widgetVar="errorLogicaDialog" modal="true" closable="false">
		<p:outputPanel id="errorLogicaDialogWrapper">
			<h:outputText id="errorLogicaDialogMsg" value="#{pfExceptionHandler.message}" escape="false" />
		</p:outputPanel>
		<f:facet name="footer">
			<div class="botonera">
				<p:commandButton id="errorLogicaDialogBtn" icon="fa fa-check" 
				 type="button" onclick="PF('errorLogicaDialog').hide();" value="Aceptar"/>	
			</div>
		</f:facet>
	</p:dialog>
	
	<p:dialog id="errorInternoDialog" header="Error Interno" widgetVar="errorInternoDialog" height="500px" modal="true">
		<p:outputPanel id="errorInternoDialogWrapper">
	    	Ocurrio un Error Interno. Por favor intente más tarde. 
	    	<ui:fragment rendered="#{facesContext.application.projectStage == 'Development'}">
	    		<br/>StackTrace: <h:outputText value="#{pfExceptionHandler.formattedStackTrace}" escape="false" />
	    	</ui:fragment>
	    </p:outputPanel>
	    <f:facet name="footer">
			<div class="botonera">
				<p:commandButton id="errorInternoDialogBtn" icon="fa fa-check" 
				 type="button" onclick="PF('errorInternoDialog').hide();" value="Aceptar"/>	
			</div>
		</f:facet>
	</p:dialog>

    <h:form id="confirmDialogGeneral">
        <p:confirmDialog id="confirmDialogGlobal" global="true" showEffect="fade" hideEffect="fade"  >
            <p:commandButton value="Aceptar" type="button" styleClass="ui-confirmdialog-yes zeke-btn-azul" icon="fa fa-check" />
            <p:commandButton value="Cancelar"  type="button" styleClass="ui-confirmdialog-no zeke-btn-blanco" icon="fa fa-close" />
        </p:confirmDialog> 
    </h:form>

    <p:dialog widgetVar="statusDialog" modal="true" closable="false"
              header="Procesando..."
              onShow="this.initPosition()" >
        <div style="text-align: center; width: 100%;padding-top: 13px;">
            <p:graphicImage name="images/ajax-loader.gif" library="app" style="width: 32px;"/>
        </div>
    </p:dialog>
    
    
    <p:growl for="globalAppGrowl" showDetail="true" showSummary="true" />
    <h:form id="growlForm">
    	<h:inputHidden id="globalAppGrowl" />
    </h:form>


</ui:composition>
