<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">Calculadora</ui:define>

    <ui:define name="content">
    
    	<f:metadata>
    		<f:viewAction action="#{calculadoraBean.onLoad}" />
		</f:metadata>
		
		<t:saveState  value="#{calculadoraBean.operador1}" />
		<t:saveState  value="#{calculadoraBean.operador2}" />
		<t:saveState  value="#{calculadoraBean.memoria}" />

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-7">
            	<h:form id="formCalculadora">
	                <p:outputPanel id="calculadoraPanel" styleClass="card">
	                    <h1>Calculadora</h1>
	                    
	                    <p:panelGrid columns="2">
	                    	<p:outputLabel for="operador1"  value="Operador 1: "/>
	                    	<h:panelGroup>
	                    		<p:inputNumber id="operador1" decimalPlaces="2" value="#{calculadoraBean.operador1}" 
	                    			required="true" />
	                    		<p:message for="operador1" display="text" />
	                    	</h:panelGroup>
	                    	
	                    	<p:outputLabel for="operador2" value="Operador2: "/>
	                    	<h:panelGroup>
	                    		<p:inputNumber id="operador2" decimalPlaces="2" value="#{calculadoraBean.operador2}"
	                    			required="true" />
	                    		<p:message for="operador2" display="text" />
	                    	</h:panelGroup>
	                    </p:panelGrid>
	                    
	                    <p:panelGrid columns="4">
	                    	<p:commandButton id="sumarBtn" value="Sumar" 
	                    		process="calculadoraPanel"
	                    		update="calculadoraPanel"
	                    		actionListener="#{calculadoraBean.sumar()}" />
	                    	
	                    	<p:commandButton id="restarBtn" value="Restar" 
	                    		process="calculadoraPanel"
	                    		update="calculadoraPanel"
	                    		actionListener="#{calculadoraBean.restar()}" />
	                    	
	                    	<p:commandButton id="multiplicarBtn" value="Multiplicar" 
	                    		process="calculadoraPanel"
	                    		update="calculadoraPanel"
	                    		actionListener="#{calculadoraBean.multiplicar()}" />
	                    	
	                    	<p:commandButton id="dividirBtn" value="Dividir" 
	                    		process="calculadoraPanel"
	                    		update="calculadoraPanel"
	                    		actionListener="#{calculadoraBean.dividir()}" />
	                    	
	                    </p:panelGrid>
	                    
	                    <ui:fragment rendered="#{calculadoraBean.memoria != null}" > 
	                    	<p>
	                    		The Result is: #{calculadoraBean.memoria}
	                    		<br/>
	                    		<p:commandButton id="usarMemoriaBtn" 
	                    			value="Usar memoria" 
	                    			process="@this" 
	                    			update="#{p:resolveFirstComponentWithId('calculadoraPanel', view).clientId}"
	                    			actionListener="#{calculadoraBean.usarMemoria()}" />
	                    	</p>
	                    </ui:fragment>
	                    
	                </p:outputPanel>
                </h:form>
            </div>
        </div>

    </ui:define>
</ui:composition>
