<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">Inicio</ui:define>

	<ui:define name="content">

		<h:form id="form">

			<div class="ui-g ui-fluid">
				<div class="ui-g-12 ui-lg-7">
					<div class="card">
						<h1>Plantilla SPRING BOOT + JSF</h1>

						<h:panelGroup rendered="#{identidad.loggedIn}">
							<p>Bienvenido(a), #{identidad.nombrePersona}</p>
						</h:panelGroup>

						<p>Detalle tecnologías</p>
						<ul>
							<li>java version: <strong>11</strong></li>
							<li>jsf version: <strong>2.3</strong></li>
							<li>spring boot version: <strong>2.2</strong></li>
						</ul>
					</div>
				</div>
				<div class="ui-g-12 ui-lg-5">
					<div class="card">
						<h1>Lorem Ipsum</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
							aute irure dolor in reprehenderit in voluptate velit esse cillum
							dolore eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.</p>
					</div>
				</div>
			</div>
			
		</h:form>

	</ui:define>
</ui:composition>
